:root {
    --padding: 20px;
    --brightRed: #EE2F3F;
    --lightBlue: #C7DFF4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
}

button {
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--brightRed);
    padding: var(--padding);
}

.name-header {
    margin-bottom: 1rem;
}

nav {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: var(--padding);
    background-color: var(--lightBlue);
}

.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

.menu-container,
.contact-container {
    display: grid;
    gap: 2rem;
    width: 100%;
}

.home-container > div,
.menu-container > div,
.contact-container > div {
    text-align: center;
    border: 0.25rem solid black;
    border-radius: 1rem;
    background-color: white;
    padding: 10px;
}


.shakes-prices-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media only screen and (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: center;
    }
}